.home__image {
  width: 100%;
  z-index: -1;
  @media (max-width: 768px) {
    padding-bottom: 150px;
  }
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 96%;
    overflow-x: hidden;
    margin: 0 auto;
  }
}
