.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background-color: #fed814;
  border: none;
  border-radius: 10px;
  padding: 10px 45px;
  margin-top: 100px;
  color: #111;
}

.checkoutProduct__info > button:hover {
  cursor: pointer;
  background: #f7ca00;
}

.checkoutProduct__image {
  object-fit: contain;
  /* width: 180px;
  height: 180px; */
  width: 300px;
  height: 300px;
}

.checkoutProduct__rating {
  display: flex;
  padding-top: 30px;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
  width: 100%;
}

.checkoutProduct__price {
  padding-top: 20px;

  font-size: 20px;
  font-weight: 700;
  color: #111;
}
